* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* TEST CODE START */
div {
    border: 1px orange dashed;
}

img {
    width: 30px;
    height: 30px
}
/* TEST CODE END */

.container {
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.header {
    grid-area: 1 / 2 / 2 / 3;
    background-color: white;
    box-shadow: 0px 1px 8px rgba(0,0,0,0.2);
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 2fr 3fr;
    padding: 0px 20px;
}

.header-search {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    padding-right: 20px;
    gap: 10px;
}

.header-search > img {
    justify-self: center;
}

.header-search > input {
    border-style: none;
    border-radius: 100px;
    background-color: #e2e8f0;
    height: 30px;
    padding: 0px 10px;
    font-size: 1.1em;
}

.header-profile {
    display: grid;
    grid-template-columns: 2fr 40px 1fr;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    font-size: 1.2em;
    font-weight: 600;
}

.header-profile > img:first-of-type {
    justify-self: flex-end;
}

.header-profile > img:last-of-type {
    width: 40px;
    height: 40px;
}

.header-welcome {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    font-size: 1.3em;
    font-weight: 600;
}

.header-welcome > img {
    grid-area: 1 / 1 / 3 / 2;
    width: 80px;
    height: 80px;
    justify-self: center;
    align-self: center;
}

.header-welcome > span:first-of-type {
    align-self: flex-end;
    font-size: 0.8em;
}

.header-welcome > span:last-of-type {
    align-self: flex-start;
}

.header-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
}

.header-buttons > button {
    border-style: none;
    border-radius: 100px;
    background-color: #1992d4;
    color: white;
    height: 40px;
    font-size: 0.9em;
    font-weight: 600;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: #1992d4;
    color: white;
    padding: 20px;
}

.sidebar > ul {
    display: grid;
    grid-template-rows: repeat(12, 50px);
    justify-content: stretch;
    align-items: center;
    list-style: none;
    padding: 0;
}

.sidebar-logo,
.sidebar-nav {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    font-size: 1.2em;
    font-weight: 600;
    gap: 5px;
}

.sidebar-logo > img,
.sidebar-nav > img {
    justify-self: center;
}

.sidebar-logo > img {
    width: 50px;
    height: 50px;
}

.sidebar-logo {
    font-size: 1.4em;
}

.main-content {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 2fr;
    gap: 10px;
    padding: 10px;
}

.content-headers {
    align-self: flex-end;
}

#header-announcements {
    grid-area: 1 / 2 / 2 / 3;
}

.content-projects {
    grid-area: 2 / 1 / 5 / 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}